<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="<%= '/styles.css' %>"> <!-- Reemplaza con la ubicación real de tu archivo CSS -->
    
</head>
<body>
    <div class="discord-container">
        <header class="discord-header">
            <div id="welcome">
                <i class="fas fa-code"></i> <!-- Icono de Font Awesome -->
                <h1>Bienvenido a Deverce</h1>
            </div>
        </header>

        <nav class="discord-nav">
            <ul>
                <li>
                    <% if (user) { %>
                        <div class="user-info">
                            <div class="user-container">
                                <img src="https://cdn.discordapp.com/avatars/<%= encodeURIComponent(user.id) %>/<%= encodeURIComponent(user.avatar) %>.png" alt="Avatar" class="user-avatar">
                                <button class="user-username" onclick="toggleUserMenu()">☰ <%= user.username %></button>
                            </div>
                            <div class="user-menu" id="userMenu">
                                <a href="/perfil">Ir al Perfil</a>
                                <a href="/adquirir-membresia">Adquirir Membresía Dev+</a>
                                <a href="/unirse-discord">Unirse a nuestro Discord</a>
                                <a href="/logout">Cerrar Sesión</a>
                            </div>
                        </div>
                    <% } %>
                </li>                
                <li><a href="/" class="home"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/servicios" class="servicios"><i class="fas fa-cogs"></i> Servicios</a></li>
                <li><a href="/portafolio" class="portafolio"><i class="fas fa-images"></i> Portafolio</a></li>
                <li><a href="/blog" class="blog"><i class="fas fa-blog"></i> Blog</a></li>
                <li><a href="/contacto" class="contacto"><i class="fas fa-envelope"></i> Contacto</a></li>
                <li id="auth-buttons">
                    <% if (user) { %>
                        <a href="/logout" class="login-button"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                    <% } else { %>
                        <a href="/auth/discord" class="login-button"><i class="fab fa-discord"></i> Iniciar sesión</a>
                    <% } %>
                </li>
            </ul>
        </nav>

        <section class="discord-content">
            <h1>Error 404</h1>
            <p>Lo sentimos, la página que estás buscando no pudo ser encontrada.</p>
            <img src="https://i.pinimg.com/originals/cc/2c/0b/cc2c0bae7ddc00fe9164fe1ef968f99e.gif" alt="Página no encontrada">
        </section>

        <footer class="discord-footer">
            <p>&copy; 2023 Deverce. Todos los derechos reservados.</p>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const pathName = window.location.pathname;
            const navLinks = document.querySelectorAll('.discord-nav a');

            navLinks.forEach(link => {
                if (link.getAttribute('href') === pathName) {
                    link.classList.add('active');
                }
            });

            // Verificar si el usuario está autenticado
            const user = localStorage.getItem('discord_user');
            if (user) {
                const userInfo = JSON.parse(user);
                document.getElementById('auth-info').style.display = 'flex';
                document.getElementById('user-username').innerText = userInfo.username;
                document.getElementById('user-avatar').src = `https://cdn.discordapp.com/avatars/${encodeURIComponent(userInfo.id)}/${encodeURIComponent(userInfo.avatar)}.png`;
                document.getElementById('auth-buttons').style.display = 'none';
            }
        });

        function toggleUserMenu() {
            const userMenu = document.getElementById('userMenu');
            userMenu.classList.toggle('show');
        }
    </script>
</body>
</html>
